<% include ../layouts/head %>

<!-- Script -->
<script type="text/javascript">

	//Wait for page complete
	$(document).ready(function(){

		//Refresh the page after {refresh} seconds
		setTimeout(function(){ Refresh(); }, <%= refresh %>000);

	});

	//Function for reload
	function Refresh()
	{
		//Refresh page
		window.location.href = '<%= site.url %>project/<%= projectId %>';
	}

</script>

<!-- Main div -->
<div class="grid main">

	<!-- Title -->
	<h1>Project status</h1>

	<!-- Show -->
	<p>Your project <b><%= projectId %></b> is still running.</p>

	<p>The process will take several minutes, depending on the number of reads of your experiment.
	This page will refresh automatically every <%= refresh %> seconds.</p>

	<p>Save the next link, because you need it for visualize your data when the process is completed:</p>

	<!-- Link -->
	<pre><%= site.url %>project/<%= projectId %></pre>

	<!-- Spaces -->
	<br><br>

</div>


<% include ../layouts/foot %>
