<% include ../layouts/head %>

<!-- Script -->
<script type="text/javascript">

	//Wait for page complete
	$(document).ready(function(){

		//Refresh the page after 20 seconds
		setTimeout(function(){ Refresh(); }, 30000);

	});

	//Function for reload
	function Refresh()
	{
		//Refresh page
		window.location.href = '<%= site.url %>project/<%= projectId %>';
	}

</script>

<!-- Main div -->
<div class="grid">

	<!-- Section title -->
	<div class="page-nav">

		<!-- Title -->
		Project status

		<!-- Button for refresh -->
		<a href="#" onclick="Refresh();">Refresh</a>

	</div>

	<!-- Show -->
	Your project <b><%= projectId %></b> is still running.<br><br>

	The process will take several minutes, depending on the number of reads of your experiment.
	This page will refresh automatically every 30 seconds.<br><br>

	Save the next link, because you need it for visualize your data when the process is completed:

	<!-- Link -->
	<pre><%= site.url %>project/<%= projectId %></pre>

	<!-- Spaces -->
	<br><br>

	<!-- Form for send email -->
	<form action="/project/<%= projectId %>" method="post" enctype="multipart/form-data">

		<!-- Title for send email -->
		<h2>If You don't want to wait...</h2>

		<!-- text -->
		You can provide us your email address, and we will send you an email when the process is completed.

		<!-- Input -->
		<input type="text" id="uemail" name="uemail" class="form-input" placeholder="you@domain.com">

		<!-- Space -->
		<br>

		<!-- Send button -->
		<div class="btn btn-blue" onclick="document.getElementById('main_send').click();">Notify me</div>
		<input type="submit" value="Upload" id="mail_send" style="display:none;">

	</form>

</div>


<% include ../layouts/foot %>
