<% include layouts/head %>

<!-- Styles for jTables -->
<!-- <link rel="stylesheet" type="text/css" href="<%= site.vendor %>siimple-tables/css/font.css"> -->
<link rel="stylesheet" type="text/css" href="<%= site.vendor %>siimple-tables/css/style.css">

<!-- JavaScript vendor for jTables -->
<script type="text/javascript" src="<%= site.vendor %>siimple-tables/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="<%= site.vendor %>siimple-tables/vendor/objectsort/objectsort.js"></script>

<!-- Javascript jTables -->
<script type="text/javascript" src="<%= site.vendor %>siimple-tables/js/jtables.min.js"></script>

<!-- Run scripts -->
<script type="text/javascript" src="/js/report.js"></script>

<!-- Project -->
<script type="text/javascript">var project = "<%= projectId %>"; </script>

<!-- Main div -->
<div class="grid main">

  <!-- Section title -->
  <h1>Report</h1>

  <!-- Description -->
  <p>This is the text report for the project <a href="/project/<%= projectId %>"><%= projectTitle %></a>.
  Each integration site (IS) that we have detected in your data will be shown in a row of the
  table below. For get more information about the report, please read the report section in our
  <a href="https://github.com/biowt/ismapper/wiki/Report" target="_blank">wiki</a>.</p>

  <!-- Download report -->
  <p>You can filter the table by minium number of reads per each IS and by distante to the closest Cancer
  Gene, using the form below. Additionally, you can <b>download a tabulated file</b> (in TSV format)
  with the full report from <a href="/report/<%= projectId %>/download">here</a>.</p>

  <!-- Filters -->
  <div class="row filters-box">

    <!-- Filter for min reads -->
    <div class="col-6 filters" align="center">
      <b>Filter by number of reads</b><br>
      Show only the positions that have a minimum number of reads:<br>
      <input id="filter-reads-input" class="form-input" style="width:auto;"><br>
      <div class="btn-outline btn-small btn-outline-blue" id="filter-reads-send">Filter</div>
      <div class="btn-outline btn-small btn-outline-red" id="filter-reads-reset">Reset filter</div>
    </div>

    <!-- Filter by distance to cancer gene -->
    <div class="col-6 filters" align="center">
      <b>Filter by distance to Cancer Gene</b><br>
      Set the distance from the position to the closest cancer gene:<br>
      <select id="filter-distance-select" class="form-select">
        <option value="gt">Greater than</option>
        <option value="lt">Lower than</option>
      </select>
      <input id="filter-distance-input" class="form-input" style="width:auto;"><br>
      <div class="btn-outline btn-small btn-outline-blue" id="filter-distance-send">Filter</div>
      <div class="btn-outline btn-small btn-outline-red" id="filter-distance-reset">Reset filter</div>
    </div>

  </div>

  <!-- Spaces -->
  <br><br>

  <!-- Div for the table with the report -->
  <div id="report_table"></div>

</div>


<% include layouts/foot %>
