<% include layouts/head %>

<!-- Styles for jTables -->
<!-- <link rel="stylesheet" type="text/css" href="<%= site.vendor %>siimple-tables/css/font.css"> -->
<link rel="stylesheet" type="text/css" href="<%= site.vendor %>siimple-tables/css/style.css">

<!-- JavaScript vendor for jTables -->
<script type="text/javascript" src="<%= site.vendor %>siimple-tables/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="<%= site.vendor %>siimple-tables/vendor/objectsort/objectsort.js"></script>

<!-- Javascript jTables -->
<script type="text/javascript" src="<%= site.vendor %>siimple-tables/js/jtables.min.js"></script>

<!-- Run scripts -->
<script type="text/javascript" src="/js/report.js"></script>

<!-- Project -->
<script type="text/javascript">var project = "<%= projectId %>"; </script>

<!-- Main div -->
<div class="grid main">

  <!-- Section title -->
  <h1>Report from <%= projectTitle %></h1>

  <!-- Filters -->
  <div class="row filters">

    <!-- Filter for min reads -->
    <div class="col-4" align="center">
      <b>Filter by number of reads</b><br>
      <input id="filter-reads-input" class="form-input" style="width:auto;"><br>
      <div class="btn btn-small btn-blue" id="filter-reads-send">Filter</div>
      <div class="btn btn-small btn-red" id="filter-reads-reset">Reset filter</div>
    </div>

    <!-- Filter by distance to cancer gene -->
    <div class="col-4" align="center">
      <b>Filter by distance to Cancer Gene</b><br>
      <select id="filter-distance-select" class="form-select">
        <option value="gt">Greater than</option>
        <option value="lt">Lower than</option>
      </select>
      <input id="filter-distance-input" class="form-input" style="width:auto;"><br>
      <div class="btn btn-small btn-blue" id="filter-distance-send">Filter</div>
      <div class="btn btn-small btn-red" id="filter-distance-reset">Reset filter</div>
    </div>

    <!-- Downloads -->
    <div class="col-4" align="center">
      <b>Download</b><br>
      <a href="/report/<%= projectId %>/download" class="btn btn-small btn-blue">Report in TSV format</a>
      <a href="/report/<%= projectId %>/bam" class="btn btn-small btn-blue">Mapped file (BAM format)</a>
    </div>

  </div>

  <!-- Spaces -->
  <br><br>

  <!-- Div for the table with the report -->
  <div id="report_table"></div>

</div>


<% include layouts/foot %>
